{{ partial "header.html" . }}

<div class="container">
  <div class="col-sm-16">
    <h1>{{ .Title }}</h1>
    {{ .Render "content" }}
  </div>

{{ if .Params.toc }}
  <div cid="toc" class="col-sm-8">
    <h3>Table of Content</h3>
    {{ .TableOfContents }}
  </div>
{{ end }}

<div class="col-sm-8">
  <h3>About this page</h3>
    <div class="news_item_date">Last published on {{ .Lastmod.Format "January 2, 2006 15:04 MST" }}</div>
    <div class="news_item_date">First published on {{ .Date.Format "January 2, 2006 15:04 MST" }}</div>
    <div class="news_item">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <div class="news_item_title"><h3><a href="/{{ $taxonomyname | urlize }}">{{slicestr $taxonomyname 0 1 | upper}}{{slicestr $taxonomyname 1}}</a></h3></div>
      <div class="news_item_description">
        <ul>
        {{ range $orderedTaxonomy := $taxonomy.ByCount }}
        <li><a href="/{{ $taxonomyname | urlize }}/{{ $orderedTaxonomy.Term | urlize }}">{{slicestr $orderedTaxonomy.Term 0 1 | upper}}{{slicestr $orderedTaxonomy.Term 1}} ({{ $orderedTaxonomy.Count }})</li>
        {{ end }}
      </ul>
      </div>
    {{ end }}
  </div>
  <div class="news_view_all">> <a href="{{ .Site.BaseURL }}/news">View all news</a></div>
</div>

<div class="col-sm-8">
  <h3>Content</h3>
    <div class="news_item">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <div class="news_item_title"><h3><a href="/{{ $taxonomyname | urlize }}">{{slicestr $taxonomyname 0 1 | upper}}{{slicestr $taxonomyname 1}}</a></h3></div>
      <div class="news_item_description">
        <ul>
        {{ range $orderedTaxonomy := $taxonomy.ByCount }}
        <li><a href="/{{ $taxonomyname | urlize }}/{{ $orderedTaxonomy.Term | urlize }}">{{slicestr $orderedTaxonomy.Term 0 1 | upper}}{{slicestr $orderedTaxonomy.Term 1}} ({{ $orderedTaxonomy.Count }})</li>
        {{ end }}
      </ul>
      </div>
    {{ end }}
  </div>
  <div class="news_view_all">> <a href="{{ .Site.BaseURL }}/news">View all news</a></div>
</div>

</div>

{{ partial "footer.html" . }}
